<!DOCTYPE <html>p</html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NASA POD</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">  </head>
    <link href="https://fonts.googleapis.com/css?family=Megrim|Roboto+Slab" rel="stylesheet">
  <style>
    
  </style>
  <body id="index-body">
    
    <div class="container-fluid, center">
      <h1>NASA POD</h1>
      <form method="post" action="/result">
        <p>Enter any date before today for a designated NASA picture or video:</p> <br>
        <!--Takes the date from the user and uses it for the rest of the app-->
        <input type="date" name="user_date" min="1995-6-16"> 
        <input type="submit">
      </form>
    </div>
    
  </body>
</html>
